<form>
    <!-- <div>
        <label for="id">Book Id</label>
        <input type="number" name="id" [(ngModel)]="book.id">
    </div> -->
    <div>
        <label for="title">Book Title</label>
        <input type="text" name="title" [(ngModel)]="book.title">
    </div>
    <div>
        <label for="author">Author</label>
        <input type="text" name="author" [(ngModel)]="book.author">
    </div>
    <button (click)="addBook(book)">Add Book</button>

    <!-- <p>Entered Id: {{ book.id }}</p> -->
    <p>Entered Title: {{ book.title }}</p>
    <p>Entered Author: {{ book.author }}</p>
</form>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    
    <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td><button (click)=deleteBook(book.id)>&#128465;</button></td>
    </tr>
</table>